<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="ReactiveUI" version="8.3.1" targetFramework="net471" />
  <package id="Splat" version="4.0.0" targetFramework="net471" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.0-preview.84" targetFramework="net471" />
  <package id="System.Reactive.Core" version="4.1.0-preview.84" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.1.0-preview.84" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="4.1.0-preview.84" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="4.1.0-preview.84" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="ToolsPortable" version="1.1.0" targetFramework="net471" />
</packages>